<template>
  <Layout>
    <h1 class="tag-title text-center space-bottom">
      # {{ $page.tag.title }}
    </h1>

    <div class="posts">
      <!-- <PostCard v-for="edge in $page.tag.belongsTo.edges" :key="edge.node.id" :post="edge.node" /> -->
      <PostCard v-for="post in $page.tag.posts" :key="post.id" :post="post" />
    </div>
  </Layout>
</template>

<page-query>
query StrapiTag ($id: ID!) {
  tag: strapiTag (id: $id) {
    id
    title
    path
    belongsTo {
      edges {
        node {
          ...on StrapiPost {
            id
            title
            path
            date (format: "D. MMMM YYYY")
            timeToRead
            description
            content
          }
        }
      }
    }
    posts {
      id
      title
      date (format: "D. MMMM YYYY")
      timeToRead
      description
      content
    }
  }
}
</page-query>

<script>
import Author from '~/components/Author.vue'
import PostCard from '~/components/PostCard.vue'

export default {
  components: {
    Author,
    PostCard
  },
  metaInfo: {
    title: 'Hello, world!'
  }
}
</script>

<style lang="scss">

</style>

